.merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

/* Shared style */
.shared {
    margin: 20px 100px;
}

.lal {
    color: #FF0000;
}

.kalo {
    color: #070211;
}

/* Header Styles */
.banner {
    /* margin: 50px 100px; */
    width: 100%;
}

.banner-bg {
    background-image: url('../images/Banner\ Image.png');
    height: 600px;
    color: #161717ef;
    background-color: rgba(7, 2, 17, 0);
    background-color: rgba(7, 2, 17, 0.5922);
    background-color: rgba(7, 2, 17, 0.63);
    background-color: rgba(82, 81, 84, 0);
    background-repeat: no-repeat;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
}

.msg {
    font-size: 32px;
    padding-top: 180px;
    padding-bottom: none;
}

.celebration {
    font-size: 72px;
    padding-bottom: 177px;
    text-align: center;
    margin: 0 auto;
}

/* Offer Banner */
.year-welcome {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 auto;
    padding-bottom: 70px;
    border-radius: 10px;
}

.offer {
    font-size: 50px;
    margin-bottom: none;
    padding-bottom: 0px;
}

.offer-title {
    font-size: 20px;
    padding-bottom: 1px;
    margin: none;
}

.offer-subtitle {
    font-size: 38px;
    padding-top: 1px;
    padding-bottom: none;
    margin: none;
}

.img-new {
    height: 400px;
}

/*welcome page  */
.vector {
    padding-bottom: 40px;

}

.welcome {
    display: flex;
    background-image: url(../images/Vectorrr.png);
    justify-content: space-around;
    border-radius: 10px;
}

.welcome-info {
    width: 50%;
    padding-top: 90px;
    padding-left: 110px;
}

.welcome-image {
    width: 50%;
    text-align: right;
    padding: 60px 60px;
}

.welcome-header {
    color: #FFFFFF;
    font-size: 48px;
}

.welcome-description {
    color: #FFFFFF;
    font-size: 18px;
    padding-bottom: 30px;
}

.btn {
    font-weight: bold;
    font-size: 18px;
    background-color: #FF0000;
    border: none;
    padding: 15px;
    border-radius: 7px;
}

.hotel {
    text-align: center;
    background-color: #f8dddd;
    padding: 30px;
    border-radius: 7px;
    padding-bottom: 60px;
}

.details {
    /* opacity: 0.9%; */
    color: #070211;
    padding-bottom: 20px;
}

/* Ellipse style */

.three {
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer-coming {
    width: 33%;
    padding: 104px 70px 104px 0;
}

.nbo {
    font-size: 20px;
    font-weight: bold;
}

.cms {
    font-size: 35px;
    font-weight: bold;
}

.cms-para {
    font-size: 18px;
    color: #070211;
    text-align: justify;
}

.celebrate-img {
    padding: 100px 98px 100px 40px;
    width: 30%;
    display: block;
}

.year-info {
    width: 33%;
}

.year {
    font-size: 40px;
    font-weight: bold;
    padding: none;
}

/* Holiday styles */
.holiday {
    width: 100%;
    background-color: rgba(249, 245, 239, 0.993);
}

.h_details {
    padding: 20px 100px 50px 120px;
    text-align: center;
}

.wif {
    font-size: 18px;
    font-weight: bold;
    color: #070211;
}

.hs5 {
    font-size: 40px;
    font-weight: bold;
    color: #070211;
}

.holiday-para {
    font-size: 18px;
    color: #070211;
    text-align: center;
}

.clbr {
    display: flex;
    padding-bottom: none;
}

.futos {
    width: 50%;
    padding: 5px 20px 20px 80px;
}

.peroffer {
    width: 50%;
    padding: 15px 50px 30px 20px;
}

/* Product list */
.product {
    padding: 50px 0px;
}

.p_description {
    text-align: left;
}

.product1,
.product2 {
    display: flex;
    padding: 24px 0px 24px 0px;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}

.product1 img,
.product2 img {
    width: 350px;
    height: auto;
}

/* Subscribe styles */

.dosub {
    background-color: antiquewhite;
    border-radius: 10px;
    margin: 10px 0px 20px 0px;
    padding: 10px 20px 40px 20px;
}

.subimg {
    text-align: center;
    padding-top: 50px;
}

.subinfo {
    text-align: center;
    padding: 0px 250px 0px 250px;
}

.sub-para {
    font-size: 18px;
    color: #070211;
}

.subscription-form {
    text-align: center;
    /* padding: 0px 250px 0px 250px; */
}

.email-input {
    font-size: 20px;
    border-radius: 20px;
}

.subscribe-button {
    font-size: 20px;
    border-radius: 5px;
    background-color: #FF0000;
    border: none;
    cursor: pointer;
}

/* Footer Styles */

.foot {
    background-color: #070211;
    padding: 120px 140px;
    color: white;
}

.footone {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

.iconimg {
    display: flex;
    padding: 24px 0px 24px 0px;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    gap: 20px;
}

.one {
    font-size: 20px;
}

.two a {
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.foottwo {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 24px 0px 24px 0px;
    font-size: 20px;
}

.tabid {
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    background-color: #FF0000;
    cursor: pointer;
}